body {
    /*background:url("img/backgroundv3.gif) no-repeat left top fixed;
*/
    font-family: 'Questrial';
    margin: 0;
    height: 100%;
    font-weight: 300;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: white;
}

a:link {
    color: black;
    text-decoration: none;
}
/* visited link */

a:visited {
    color: black;
    text-decoration: none;
}
/* mouse over link */

a:hover {
    color: #a6a6a6;
}
/* selected link */
a:active {
    color: black;
    text-decoration: underline;
}

/* sublinks */
a:link.sub {
    color: white;
    text-decoration: none;
}
/* visited link */

a:visited.sub {
    color: white;
    text-decoration: none;
}
/* mouse over link */

a:hover.sub {
    color: #333333;
}
/* selected link */
a:active.sub {
    color: black;
    text-decoration: underline;
}





h1 {
    font-family: 'Work Sans';
    color: #333333;
    /*
    background:rgba(0,0,0,0.5)  ;
    */
    background-size: 100%;
    height: 90px;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left:0px;
    font-weight: 200;
    font-size: 70px;
    background: white;
}


/*
h2{
    position:relative;
      background:white;
     font-family: 'Questrial' ;
     font-weight:200;
     font-size:25px;
     text-align:center;
     color:gray;
  height:40px;
      margin-top:0px;
      z-index:90;

}
*/

.links {
    font-family: 'Questrial';
    font-weight: 300;
    color: white;

    font-size: 20px;
    padding-top: 10px;
    width: auto;
    z-index: 1000;
    text-align:right;
     padding-right:20px;

}

#logo {
    float: left;
}

.sublinks {
    margin-top: 20px;
    font-family: 'Questrial';
    font-weight: 300;
    color: white;
    font-size: 18px;
    margin-bottom: 0px;
    text-align:center;
    width:100%;
    z-index: 10;
    height: 30px;
     margin-left:-20px;
    float: left;

}
.sub{
    margin-left:30px;
}

header {
    overflow: auto;
    z-index: 200;
}

#main {
    height: 100%;
    width: 100%;
    background: #777777;
}

#imagegallery {
    overflow: hidden;
    width:1440px;
    margin:auto;
}

.image {
    float: left;
    z-index: 100;
    /*
    height: 250px;
    */
    margin: 15px;
    margin-top: 20px;
    border-radius: 3px;
    background-color:white;
width:450px;
height:450px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  text-align: center;

}

.sub {
    color: black;

}

.text{

  margin:5px;
  height:auto;
  width:auto;

}

.column{
    display:flex;
    flex-direction: column;
    overflow: hidden;
    margin-right: 20px;

}
.column:last-child{
    margin-right: 0;
}
.column img{
    width:100%;

}
.columns{
    width:90%;
    margin:0 auto;
    display:flex;
    }
.image-holder{
background-color: white;
padding: 10px;
margin-bottom: 20px;
}

@media only screen and (max-width: 780px) {
    #logo {
        float: none;
        text-align: center;
    }
    .links {
        margin-top: -60px;
        text-align: center;
    }
}

@media only screen and (max-width: 1050px) {
    .image {
        overflow: hidden;
    }
}

@media only screen and (max-width: 1466px) {
    #imagegallery {
        width: 1000px;
    }
}
@media only screen and (max-width: 970px) {
    #imagegallery {
        width: 500px;
    }
}
@media only screen and (max-width: 507px) {
 h1 {
     font-size: 55px;
    }
    .links {
        font-size:17px;
    }
    .sublinks{
        font-size:17px;
    }
    #imagegallery {
        width: 400px;
    }
    .image{
        width:300px;
        height:300px;
    }
}
@media only screen and (max-width: 405px) {
    .sub{
    margin-left:10px;
    font-size:15px;
    }
 h1 {
     font-size: 44px;
    }
#imagegallery{
    width:400px
}

}
@media only screen and (max-width: 350x) {
    header {
        z-index: 200;
        overflow: visible;
    }
    .image {
        overflow: hidden;
        height: 100px;
    }
    #imagegallery{
    width:300px
}
}
